<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.ammdhillon">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:name=".MyApp"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        tools:ignore="GoogleAppIndexingWarning">
        <activity android:name=".MainActivity"/>
        <activity android:name=".ActivityLogin">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ActivityChannel" />
        <activity android:name=".ActivitySearchChannels"/>
        <activity android:name=".ActivityAppDetail"/>
        <activity android:name=".ActivityUserDetail"/>
        <activity android:name=".ActivitySingleChannel" />
        <activity android:name=".AllChannelActivity" />
        <activity android:name=".ActivityAllVideo" />
        <activity android:name=".ActivityPlayVideo" />
        <activity android:name=".ActivityResetPass"/>
    </application>

</manifest>